1.1

In [2]:
import os
os.chdir("C:/Users/zemar/OneDrive/Documentos")

In [5]:
from si.src.io.csv_file import read_csv
import numpy as np

iris = read_csv('si/datasets/iris/iris.csv', features=True, label=True)
iris.summary()

        sepal_length  sepal_width  petal_length  petal_width
mean        5.843333     3.054000      3.758667     1.198667
median      5.800000     3.000000      4.350000     1.300000
min         4.300000     2.000000      1.000000     0.100000
max         7.900000     4.400000      6.900000     2.500000
var         0.681122     0.186751      3.092425     0.578532

1.2

In [6]:
dim = iris.X[:,-2].shape[0]
print(f'Dimension: {dim}')

Dimension: 150

1.3

In [7]:
np.nanmean(iris.X[-10:], axis=0)

array([6.45, 3.03, 5.33, 2.17])

1.4

In [8]:
select = np.all(iris.X <= 6, axis=1)
select_samples = iris.X[select]

print(f'final samples: {select_samples.shape[0]}')

Obtained samples: 89

1.5

In [9]:
selected_samples = iris.X[(iris.y != 'Iris-setosa')].shape[0]

print(f'final samples: {selected_samples}')

Obtained samples: 100